body {
  background: rgba(227, 56, 56, 0.702);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  max-width: 800px;
  margin: auto;
  background: white;
  border-radius: 15px;
  padding: 25px;
}

h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  display: block;
  width: 85%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}

.container {
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
  border-radius: 15px;
  background: rgba(222, 103, 103, 0.318);
  box-shadow: 5px 5px 15px rgb(198, 198, 198);
}

.show {
  display: flex;
  justify-content: space-between;
  color: rgba(4, 4, 195, 0.877);
  border-radius: 25px;
  border: 2px solid rgba(157, 156, 156, 0.497);
}

.hide {
  display: none;
}

.city {
  width: 80%;
  margin: 10px auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(157, 156, 156, 0.497);
}

.city:last-child {
  border: none;
}

.date {
  padding-top: 1px;
  opacity: 0.7;
}

.time {
  padding-right: 15px;
  padding-bottom: 5px;
  font-size: 38px;
  font-weight: bold;
}

.time small {
  font-size: 20px;
  vertical-align: middle;
}

a {
  color: rgba(227, 56, 56, 0.702);
}

footer {
  color: rgba(157, 156, 156, 0.497);
  padding-top: 15px;
}
